NEXTAUTH_SECRET=asdvdsa34rfsdf4 // Random string for NextAuth
NEXT_PUBLIC_NEXTAUTH_URL = http://localhost:3000 // URL of the frontend server
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY = 
NEXT_PUBLIC_API_BASE_URL = http://localhost:3001 // URL of the backend server
NEXT_PUBLIC_PAYPAL_CLIENT_ID=